body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  display: flex;
}

.container {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

.sidebar {
  width: 250px;
  background-color: #D58A94;
  padding: 20px;
  color: white;
  font-family: 'Playfair Display', serif;
}

.sidebar h1 {
  font-size: 28px;
  margin-bottom: 1em;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul ul {
  margin-left: 1em;
}

.sidebar a {
  color: white;
  text-decoration: none;
  display: block;
  margin: 6px 0;
}

.content {
  padding: 2em;
  flex-grow: 1;
}

.content h2, .content h1 {
  font-family: 'Playfair Display', serif;
}

.book-image {
  width: 300px;
  height: auto;
  display: block;
  margin: 1em auto;
}

audio {
  display: block;
  margin: 1em auto;
  width: 100%;
  max-width: 800px;
}